@use "../../../../global.scss" as *;


.page{
 position: relative; 
// &::before,
// &::after {
//   overflow:hidden;
//   content: "";
//   position: absolute;
//   border-radius: 50%;
//   background: rgba(255, 255, 255, 0.03);
// }
//
// &::before {
//   width: 300px;
//   height: 300px;
//   top: -150px;
//   right: -150px;
// }
//
// &::after {
//   width: 300px;
//   height: 300px;
//   bottom: -120px;
//   left: -120px;
// }
  background-image: linear-gradient(300deg, #4339cb,#305BE8 ,#4339cb);
  width: 35vw;
  max-height: 100vh;
  overflow: scroll;
  font-family: Roboto, Arial, sans-serif;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .topPage {
  .heading{
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 10px;
    font-family: $heading-font;
  }
  .dis{
    font-size: 15px;
    color: rgb(230, 230, 230);
  }
};

  .Description{
    display: flex;
    flex-direction: column;
    .paperCategories{
      display: grid;
      
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
      gap: 20px;
      .category{
        display:flex;
        flex-direction: column;
        gap:2px;
      }
      .categoryTitle{
        font-size: 1.5rem;
        display : flex;
        align-items: center;
        gap:4px;
        .svgs{
          height:25px;
        }
      }
      .categoryList{
        list-style-type: none;
      }
    }
  }
  .price{
    font-size:20px;
    font-weight: 600;
    display : flex;
    align-items: center;
        gap:4px;
        .svgs{
          height:20px;
        }
  }
  .timeline{
      width:100%;
    .heading{
      font-size:20px;
      display : flex;
      font-weight: 600;
        align-items: center;
        gap:4px;
        .svgs{
          height:20px;
        }
    }
    .date{
      display: flex;
      justify-content:space-between;
      width: 320px;
      max-width:100%;
    span{
      font-weight: 600;
    }
  }
  }
  .logoBox{
    width: 100%;
    display: flex;
  justify-content: space-between;
    align-items: center;
    .logo{
      width:50%;
    }

    button {
  margin-top: 10px;
  padding: 14px;
  background: #F3F8FE;
  color: #2563eb;
  font-size: 16px;
 font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #e0e0e0;
  }
}

    
  }
}

.bottom{
  display:none;
}
@media screen and (max-width: 900px){
  .page{
    height: fit-content;
    width: 100vw;
    flex-direction: column;
    .Description{
      display:none;
    };
    .logoBox{
      display:none;
    }
  }
  .bottom{
      display:flex;
      gap:0px;
      .Description{
        display: flex;
        margin-top: 30px;
      }
      .logoBox{
        display: flex;
        .logo{
          width: 70%;
        }
      }
      .timeline{
        display:none;
      }
      .price{
        display:none;
      }
      .topPage{
        display:none;
      }
    }
}
