.page{
  width: 100vw;
  height: 100vh;
  background-color: #F3F8FE;
  font-family: Helvetica;
  display: flex;
}


@media screen and (max-width: 900px){
  .page{
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
  }
}
