@use "/src/global.scss" as *;

.container {
  max-height: 100vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tabs {
  display: flex;
  gap: 0.5vw;
  margin: 2vw 6vw;
}

.tab {
  flex: 1;
  padding: 0.6vw;
  background: #dbdbdb;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  font-family: $primary-font;
  width: 100%;
  color: white;
  font-size: 1.2vw;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.tab:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(149, 168, 252, 0.4);
}

.tab.active {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

@media screen and (max-width: 900px) {
  .container {
    height: 100%;
    max-height: fit-content;
    width: 100vw;
    margin-bottom: 1vw;
  }
  .tabs {
    gap: 1vw;
    margin: 2vw auto;
    width: 40vw;
  }

  .tab {
    padding: 0.6vw;
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 500px) {
  .container {
    height: fit-content;
    width: 100vw;
  }
  .tabs {
    gap: 2vw;
    width: 60vw;
    margin: 3vw auto;
  }

  .tab {
    padding: 1vw;
    font-size: 4vw;
  }
}
